/*
Estilo para Fakestore con el Botón Comprar en aling buttom
*/


#fakestore-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Estilos para cada tarjeta */
.card {
  display: flex; 
  flex-direction: column; /* aplica los elementos verticalmente */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

/* Estilos para la imagen del producto */
.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

/* Estilos para el contenido de la tarjeta */
.card-content {
  flex-grow: 1; /* Hace que este elemento ocupe todo el espacio disponible */
  margin-bottom: 10px;
}

/* Estilos para el botón de compra */
.comprar-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto; /* empuja el botón hacia la parte inferior */
  transition: background-color 0.3s;
  width: 100%;
}

.comprar-btn:hover {
  background-color: #45a049;
}